=form_for @host, :html => {:class => 'form-horizontal'} do |f|
  %fieldset
    %legend Host
    =horizontal_form_field f.hidden_field(:id, :value => @host.id), ""
    =horizontal_form_field f.text_field(:name, :disabled => @disabled), "Name"
    =horizontal_form_field f.text_field(:address, :disabled => @disabled), "Address"
    =horizontal_form_field f.text_field(:ssh_user, :disabled => @disabled), "SSH User"
    =horizontal_form_field f.password_field(:ssh_password, :disabled => @disabled), "SSH Password"
    =horizontal_form_field f.text_field(:telnet_user, :disabled => @disabled), "Telnet User"
    =horizontal_form_field f.password_field(:telnet_password, :disabled => @disabled), "Telnet Password"
    =horizontal_form_field f.check_box(:active, :disabled => @disabled), "Active"

    .form-actions
      =link_to "Checks", host_checks_path(@host), :class => "btn btn-info"
      -unless @disabled
        =f.submit "Save", :class => 'btn btn-primary'
      -else
        -if can? :manage, @host
          =link_to "Edit", edit_host_path(@host), :class => 'btn btn-warning'
      =link_to "Back", :back, :class => 'btn btn-inverse'
